@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Auto Show</h1>
    <p class="lead">Coming soon the greatest auto show</p>
    <p><a href="Car/Index" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>About site</h2>
        <p>AutoTavex is a site where registered users can sell or buy autovehicles.</p>
        
    </div>
    <div class="col-md-4">
        <h2>Site content</h2>
        <ul>
            <li>@Html.ActionLink("Cars", actionName: "Index", controllerName: "Car")</li>
            <li>@Html.ActionLink("Motorcyles", actionName: "Index", controllerName: "Moto")</li>
        </ul>
    </div>
    <div class="col-md-4">
        <h2>Insurance</h2>
        <p>If you buy a car from our platform, you need to get insurance from us for atleast 1 year.</p>
    </div>
</div>